<!DOCTYPE html>
<html lang="en" class="dark">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link href="/css/output.css" rel="stylesheet">
</head>
<body class="dark:bg-gray-800">
  <div class="flex flex-col h-screen w-1/2 mx-auto">
    <div class="flex-grow overflow-y-auto">
    </div>
    <div class="flex flex-col sm:flex-row items-center p-4">
      <input type="text" class="flex-grow px-4 py-2 mb-2 sm:mb-0 sm:mr-2 border border-gray-300 rounded-lg focus:outline-none focus:border-indigo-500" placeholder="Type your message...">
      <button class="px-4 py-2 text-white bg-indigo-500 rounded-lg hover:bg-indigo-600">Send</button>
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
  <script src="/js/login.js"></script>
</body>
</html>
